.container{
    padding-block: 35px;
    background-color: rgb(223, 223, 223);
    padding-inline:60px;
}

.cardBody{
    /* margin: 0; */
}

.cardWrapper{
    /* margin-left: 10px; */
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    box-shadow:  0 10px 15px -3px rgba(0,0,0,.5),0 4px 6px -4px rgba(0,0,0,.5 );
    /* padding-inline:10px ; */
    background-color: #091f44;
    border-radius: 20px;
}
.centeredContent{
    display: flex;
    justify-content: start;
    padding: 20px !important;
}
.maxWidth{
    width: 90%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.fixedFilter{
    position: sticky;
    top: 0px;
    background-color: aqua;
}

/* styles.module.css */

/* Estilos para las etiquetas (labels) */
.label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Estilos para las entradas de texto, números y select */
  .input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  /* Estilos adicionales para los elementos de rango (range) */
  .range {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .checkboxContainer{
    display: flex;
    flex-direction: column;
  }
  .yes{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    /* margin-right: 20px; */
}
.no{
      justify-content: space-between;
    display: flex;
    font-size: 20px;
    /* margin-right: 20px; */
  }
  .checkbox{
    
    margin-left: 5px;
    width: 25px;
    
  }
  
  /* Estilos para el botón */
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9d0aca;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  
  .button:hover{
    position: relative;
    background-color:rgb(223, 223, 223) ;
    border: 2px solid #9d0aca;
    color: #9d0aca;
  }
  
  .filterInput{
    background-color: rgb(223, 223, 223);
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  