.card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

img{
    border-top-left-radius: 5px; /* Cambia el valor según tus preferencias */
    border-top-right-radius: 5px;
}