
.legend {
    text-align: left !important;
    font-size: 30px;
    margin-bottom: 12px;
    color: #091f44;
   
    
}
.button {
    display: block;
    border-radius: 10px; 
    border-width: 3px;
    border-color: #9d0aca;
    color: #9d0aca;
    background-color: white;
    padding: 5px;
    font-weight: 400;
    font-size: medium;
    cursor: pointer;
}

.button:hover {
        color : white;
        background-color: #9d0aca;
}

.alert {
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
      0 4px 6px -4px rgba(0, 0, 0, 0.2);
    
    border: 3px solid #e43838;
    border-radius: 5px;
    width: 1065px;
    margin: 0 auto;
    padding: 20px;
    margin: 30px 0;
  }