@import url('https://fonts.cdnfonts.com/css/avenir');

.wrap{
height: 69.9vh;

background-image: url('../../assets/images/faq.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  margin-bottom: 0;


}

.faq-container {
  max-width: 800px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: 'Avenir', sans-serif;
  border-radius: 30px;  
}

  
  .faq-container h1 {
    font-size: 4em;
    margin-bottom: 15px;
    font-family: 'Avenir', sans-serif; 
    margin-top: 100px;
    color: #ccc;
  }
  
  .faq-list {
    list-style: none;
  }
  
  .faq-item {
    margin-bottom: 10px;
    cursor: pointer; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-family: 'Avenir', sans-serif; 
    color: #ccc;
    background-color: rgba(19, 16, 16, 0.801);
  }
  
  .faq-item:hover {
    background-color: #8229D4;
    color: #ccc;
  }
  
  .faq-question {
    font-family: 'Avenir', sans-serif; 
    font-weight: 100;
    
  }
  
  .faq-answer {
    margin-top: 10px;
    display: none;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }