.image img{
  object-position: center bottom !important;
}

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}
.rating{
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 5px;
}

.rating:not(:checked) > label , .rating svg{
  /* float: left; */
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

/* .rating:not(:checked) > label:before svg {
  content: "★";
} */

.rating > input:checked + label:hover svg,
.rating > input:checked + label:hover svg ~ label svg,
.rating > input:checked ~ label:hover svg,
.rating > input:checked ~ label:hover svg ~ label svg,
.rating > label:hover svg ~ input:checked ~ label svg {
  color: #8810ad;
}

.rating label{
  margin-right: 20px;
}


.rating:not(:checked) > label:hover svg,
.rating:not(:checked) > label:hover  ~ label svg {
  color: #9d0aca;
  
}

.rating > input:checked ~ label svg {
  color: #9d0aca;
}

.div{
  display:grid;
  /* flex-wrap: wrap;
  width: 100%; */
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  align-items: center;
  text-align: center;
}

.buttons{
  background-color: #091f44 ;
  color:#fff;
  padding-block: 5px;
  border:2px solid #091f44;
  border-radius:5px
}

.buttons:hover{
  background-color:#0b2a5f ;
}

.centeredContent{
  padding: 10px;
}

.maxWidth{
  /* background-color: ; */
}