.image img{
  object-position: center bottom !important;
}

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}
.rating{
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
  
}

.rating:not(:checked) > label , .rating svg{
  /* float: left; */
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

/* .rating:not(:checked) > label:before svg {
  content: "★";
} */

.rating > input:checked + label:hover svg,
.rating > input:checked + label:hover svg ~ label svg,
.rating > input:checked ~ label:hover svg,
.rating > input:checked ~ label:hover svg ~ label svg,
.rating > label:hover svg ~ input:checked ~ label svg {
  color: #e58e09;
}

.rating label{
  margin-right: 20px;
}


.rating:not(:checked) > label:hover svg,
.rating:not(:checked) > label:hover  ~ label svg {
  color: #ff9e0b;
  
}

.rating > input:checked ~ label svg {
  color: #ffa723;
}

.div{
  display:grid;
  /* flex-wrap: wrap;
  width: 100%; */
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  align-items: center;
  text-align: center;
}