/* .background{
    background-color: aquamarine;
} */

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttonContainer p{
    text-align: center;
    margin: auto 0;
}

.button{
    padding: 10px 15px;
    border: 2px solid transparent;
    background-color: #091f44;
    color: #f4f4f4;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover{
    position: relative;
    background-color: #051229;
    border: 2px solid transparent;
    color: #f4f4f4;
  }