.buttonGoogle {
    background-color : rgba(255, 255, 255, 0.801);
    padding: 4px;
    border-color:  rgb(219, 46, 69);
    color : rgba(81, 187, 99, 0.863);
    border-radius: 5px;
    box-shadow :2px 2px 2px rgba(0, 0, 0, 0.815);
}
.buttonGoogle:hover {
   
    color: white;
    background-color: rgb(219, 46, 69);
    border-color : rgb(219, 46, 69);
}


.form {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.055);
    /* rgba(245, 245, 245, 0.589) */
    box-shadow: 4px  4px rgba(255, 255, 255, 0.534);
    border-radius: 10px ;
    margin: 60px;
    width: 90%;

}
.form legend {
    color:  white;
}
.form legend:hover {
    color:  rgb(219, 46, 69);;
}

.hr {
   
   border-width: 3px;
   color: rgba(255, 255, 255, 0.747);
}

.perfile {
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
    padding : 20px;
    height: 120%;
    box-shadow: 4px 4px rgba(255, 255, 255, 0.678);
}

.buttonGoogle:hover .icon {
        color: white !important;
}

.form div div span {
    color: white;
    
    
}

.inputs {
    background-color: transparent;
    border : 0 0 2px 0;
   
}
.inputs::placeholder , label {
     color : white
}

.inputs:hover {
    border-color:rgb(224, 78, 98) !important;
    border-width: 2px !important;
}

.inputs::placeholder :hover {
    color : blanchedalmond
}


.inputs:focus {
    background-color:rgba(255, 255, 255, 0.096) !important;
}
