table {
  border-spacing: 3;
  border-collapse: collapse;
  background: white;
  border-radius: 15px;
  box-shadow: 3px 5px 7px 10px rgba(196, 196, 196, 0.664);
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  
  * {
    border: none !important;
    position: relative;
  }



  td,
  th {
    padding-left: 8px;
  }

  thead tr {
    height: 60px;
    background: #ffed86;
    font-size: 16px;
  }

  tbody tr {
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
    &:last-child {
      border: 0;
    }
  }
}
