/* detail.module.css */

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 70%;
  text-align: center;
}

.imageGallery {
  margin: 0 auto;
  display: table;
 
}

.propertyInfo .icons {
  position: absolute;
  right: 30px;
  top: 15px;
  display: flex;
}

.alert {
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -4px rgba(0, 0, 0, 0.2);

  border: 3px solid #e43838;
  border-radius: 5px;
  width: 1105px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 30px;
}

.icons div {
  border: 2px solid blueviolet;
  border-radius: 50%;
  margin-right: 5px;
  padding-inline: 8px;
  padding-block: 7px;
  transition: background-color 0.3s ease;
}
.icons svg {
  transition: color 0.3s ease;
  color: blueviolet;
}

.icons div:hover svg {
  color: blue;
}

.primary,
.thumbnails {
  display: table-cell;
}

.thumbnails {
  width: 300px;
}

.primary {
  width: 700px;
  /* padding: 200px; */
  /* height: 30px !important; */
  background-color: #cccccc;
  background-size: cover;
  background-position: center bottom;
  /* box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8); */
  background-repeat: no-repeat;
  /* border-radius: 15px; */
  margin-bottom: 15px;
}

.thumbnail:hover .thumbnailImage,
.selected .thumbnailImage {
  /* border: 4px solid red; */
  transform: scale(1.1);
}

.thumbnailImage {
  width: 350px;
  height: 150px;
  margin: auto;
  margin-right: 55px;
  background-size: cover;
  margin-bottom: 20px;
  background-position: center bottom;
  background-repeat: no-repeat;
  border: 4px solid transparent;
  transition: transform 0.5s ease;
  /* box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8); */
  /* border-radius: 15px; */
}
.lastChild {
  margin-bottom: 0;
}

.container {
  margin: 0 !important;
  width: 100vw !important;
  padding-top: 100px !important;
  background-color: #ebebeb;
}
.row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 20px;
}

/* Estilos para las reseñas */
.reviewCol {
  background-color: #CCCCFF;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-right: 20px;
}

.reviewCol h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.reviewCol p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos para el contenedor principal */
.propertyDetails {
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.reseñas {
  justify-content: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: transparent;
  border-radius: 5px;
  width: 100%;
}

/* Estilos para la información de la propiedad */
.propertyInfo {
  background-color: #fff;
  position: relative;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -4px rgba(0, 0, 0, 0.2);

  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 1105px !important;
}

.propertyInfo h1 {
  text-align: left !important;
  font-size: 24px;
  margin-bottom: 2px;
}


.propertyInfo p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos para la lista de amenidades */
.propertyAmenities {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  justify-content: center;
  margin-right: 20px;
}

.propertyAmenities h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.amenitiesList {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  color: #091f44;
}

.amenitiesItem img {
  margin-bottom: 7px;
}

.amenitiesItem {
  font-size: 16px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.amenitiesItem span {
  font-weight: bold;
  margin-right: 5px;
}


.info {
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -4px rgba(0, 0, 0, 0.2);

  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 1105px;
  margin: 0 auto;
  padding: 20px;
  /* display: flex; */
}


.info h2 {
  font-size: 30px;
  color: #091f44;
  font-weight: bold;
}

.info .description {
  flex: 2;
}
.description p {
  text-align: justify;

  line-height: 25px;
}

.googleMap {
  margin: 20px;
  flex: 1;
}

.reseña {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.contReseña {
  border-radius: 10%;
  margin-top: 30px;
  /* position: relative; */
  padding: 10px;
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, .5);
  padding: 20px;
  background-color: rgb(55, 55, 178);
}
.contReseña h1 {
  font-size: 28px;
  color: #9d0aca;
}

.sugs{
  margin-top: 30px;
  display: flex;
  color: #091f44;
  flex-direction: column;
}

.card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.security{
  background: rgba(0, 0, 255, 0.2);
  padding: 20px;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  width: 75%;
  border: 2px solid rgb(216, 215, 217);
}

.profile{
  position: absolute;
  right: 20px;
  align-items: center;
  top:85px
}

.profile img{
  border-radius: 999px;
  /* margin-right: 5px; */
  margin-left: auto;
}

.profile p {
  color: #091f44;
  font-weight: 700;
  letter-spacing: 1px;
}
