/* detail.module.css */

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 70%;
  text-align: center;
}

.imageGallery {
  margin: 0 auto;
  display: table;
}

.propertyInfo .icons {
  position: absolute;
  right: 30px;
  top: 15px;
  display: flex;
}

.icons div{
  border: 2px solid blueviolet;
  border-radius: 50%;
  margin-right: 5px;
  padding-inline: 8px;
  padding-block: 7px;
  transition: background-color 0.3s ease;
}
.icons svg{
  transition: color 0.3s ease;
  color: blueviolet;
}
.icons div:hover{
  background-color: blueviolet;
}
.icons div:hover svg{
  color: #cccccc;
}

.primary,
.thumbnails {
  display: table-cell;
}

.thumbnails {
  width: 300px;
}

.primary {
  width: 700px;
  /* padding: 200px; */
  /* height: 30px !important; */
  background-color: #cccccc;
  background-size: cover;
  background-position: center bottom;
  /* box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8); */
  background-repeat: no-repeat;
  /* border-radius: 15px; */
  margin-bottom: 15px;
}

.thumbnail:hover .thumbnailImage,
.selected .thumbnailImage {
  /* border: 4px solid red; */
  transform: scale(1.1);
}

.thumbnailImage {
  width: 350px;
  height: 150px;
  margin: auto;
  margin-right: 55px;
  background-size: cover;
  margin-bottom: 20px;
  background-position: center bottom;
  background-repeat: no-repeat;
  border: 4px solid transparent;
  transition: transform 0.5s ease;
  /* box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8); */
  /* border-radius: 15px; */
}
.lastChild {
  margin-bottom: 0;
}

.container {
  margin: 0 !important;
  width: 100vw !important;
  padding-top: 50px;
  background-color: #ebebeb;
}
.row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 20px;
}

/* Estilos para las reseñas */
.reviewCol {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-right: 20px;
}

.reviewCol h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.reviewCol p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos para el contenedor principal */
.propertyDetails {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}
.reseña {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

/* Estilos para la información de la propiedad */
.propertyInfo {
  background-color: #fff;
  position: relative;
  padding: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -4px rgba(0, 0, 0, 0.2);

  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 75% !important;
}

.propertyInfo h1 {
  text-align: left !important;
  font-size: 24px;
  margin-bottom: 2px;
}

.propertyInfo p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos para la lista de amenidades */
.propertyAmenities {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  justify-content: center;
  margin-right: 20px;
}

.propertyAmenities h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.amenitiesList {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  color: #091f44;
}

.amenitiesItem img {
  margin-bottom: 7px;
}

.amenitiesItem {
  font-size: 16px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.amenitiesItem span {
  font-weight: bold;
  margin-right: 5px;
}
