@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
.name{
  background-color: #cccccc83;
  box-shadow: 0 8px 18px rgba(255, 255, 255, 0.63);
}
.titulo{
  font-family: 'Playball', cursive;

}
.cardsCont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* cards.module.css */
.cardCont {
    background-color: #ffffffd7;
    width: calc(30% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: solid 1px #ccc;
    border-radius: 10px;
    box-shadow: 0 8px 18px rgba(255, 255, 255, 0.63); /* Cambio en el valor de box-shadow */
    transition: transform 0.2s;
  }
  .cardCont:hover {
    transform: translateY(-5px);
  }
    
    .cardTittle {
      text-align: center;
      margin-bottom: 1rem;
      color: black;
      
    }
    
    .cardTittle h2 {
      font-size: 1.5rem;
      margin: 0;
      text-decoration: none;
      color: black;
    }
    
    .cardSeparator {
      display: flex;
      align-items: center; /* Centrado horizontal */
      justify-content: center; /* Centrado vertical */
      background-color: #ccc;
      width: 85%;
      height: 4px;
      margin: 10px auto; 
    }
    
    .cardInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
    }
    .cardInfo h2 {
        font-size: 1rem;
        margin: 5px 0;
      }
      .boton{
        background-color: red;
        width: 2rem;
        height: 2rem;
        color: white;
        border: none;
        border-radius: 15px;
      }
    
      .book {
        position: relative;
        border-radius: 10px;
        width: 220px;
        height: 300px;
        background-color: #ffffff;
        -webkit-box-shadow: 1px 1px 12px #000;
        box-shadow: 1px 1px 12px #000;
        -webkit-transform: preserve-3d;
        -ms-transform: preserve-3d;
        transform: preserve-3d;
        -webkit-perspective: 2000px;
        perspective: 2000px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #000;
      }
      
      .cover {
        top: 0;
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
        transform-origin: 0;
        -webkit-box-shadow: 1px 1px 12px #000;
        box-shadow: 1px 1px 12px #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      
      .book:hover .cover {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transform: rotatey(-80deg);
        -ms-transform: rotatey(-80deg);
        transform: rotatey(-80deg);
      }
      .parrafo{
        font-size: 20px;
        color: rgb(0, 0, 0);
      }
      
      .text {
        font-family: 'Playball', cursive;

      }
      