.footer {
    z-index: 1000000;
    background-color:#161616;
}

.borderNone{
    background-color: blueviolet !important;
    border: none;
}

.borderNone:hover{
    background-color: transparent !important;
    color: blueviolet;
    border: 1px solid blueviolet !important;
}

