.customButton {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color:#fffefe98;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
      border-radius: 100px;
      border: #e9e9e9;
      color: black; /* Color de texto */
      padding: 20px; /* Espacio alrededor del texto */
      z-index: 10;
    }
    
    
    .buton {
        background-color: #ff0000;
        color: #ffffff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
        width: 75px;
    }
    
    
    .divButton{
        width: 100%;
        margin: 0 auto;
    
        display: flex !important;
        align-items: center !important;
        /* justify-content: center !important; */
        justify-content: start;
    }
    
    .divButton button{
        margin-right:10px ;
    }
    
    .left{
        display:flex;
        margin-left:auto !important ;
    }
    
    
    
    .alert{
        position: fixed;
        bottom: 10px;
        right: 5px;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .alert.show{
        opacity: 1;
    }
    
    .background{
        font-family: montserrat, arial, verdana;
        background-color: rgb(76, 131, 228);
        padding: 20px;
        padding-top: 100px;
    }
    
    .containerImg img{
        object-position: center bottom !important;
    }
    h1{
        text-align: center;
        padding-bottom: 15px;
        font:700 60px/1 'Lato', sans-serif;
    }
    .widgets,
    .charts {
      display: flex;
      gap: 20px;
      padding: 20px;
    }