@import url('https://fonts.cdnfonts.com/css/avenir');
.cont {
  font-family: 'Avenir', sans-serif; 
  background-color: rgb(231, 231, 231);
  padding: 20px;
  display: flex;
  padding-top: 70px;
}

.background .img {
  width: 100%;
  height: 250px;
  margin: 0;
  background-position: bottom;
  overflow: hidden;
  object-fit: cover;
}

.cont form {
    flex: 1;
    display: flex;
    font-family: 'Avenir', sans-serif;
    flex-direction: column;
    margin-left: -300px;
    position: relative;
  z-index: 500;
  transition: margin-left 0.5s ease-in-out;
  box-shadow:  0 10px 15px -3px rgba(0,0,0,.5),0 4px 6px -4px rgba(0,0,0,.5 );
}

.background h1 {
  font-weight: 400;
  width: 100%;
  letter-spacing: 5px;
  font:700 100px/1 'Avenir', cursive;
  /* font-family: "Noto Sans", sans-serif; */
  top: 120px;
  color: rgba(36, 113, 201, 0.815);
  text-shadow: 0px 2px 2px rgb(14, 66, 145);
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.cont form label{
  color: #000;
}

.custom-container {
  color: #000;
  /* Ajusta la cantidad de padding superior que desees */
  width: 40%;
  margin: 0 auto; /* Esto centrará el contenido horizontalmente */
  border-radius: 15px;
  padding: 15px;
  background-color: whitesmoke;
}
.title {
  text-align: center;
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
  font-weight: normal; /* Establecer el texto en negrilla */
}

.formulario-entrada.formulario-visible{
  margin-left: 0;
}


.svg {
  width: 100%;
  z-index: 2;
  left: 0;
  position: absolute;
  transform: translate(0%,-90%);
  color:#091f44;

  
}

.personaje{
    right: -250px;
    position: absolute;
    z-index: 0;
    top: 100%;
    transform: translate(-50%, -50%) scaleX(-1) ;
}

.contImg{

  box-shadow:  0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.2 );

}

.button{
  transition: all 0.5s ease;
  background-color:#091f44 !important;
  border: 2px solid #091f44 !important;
}

.button:hover{
  color: #091f44 !important;
  background-color: transparent !important;
  
}

.info{
  padding: 20px;
  padding-left: 50px;
  transition: all ease-in-out;
  margin: 0 auto;
  flex: 2;
  text-align: left;
}

.info h2{
  color:#091f44
}

.info h2, .info h2 span{

  /* text-align: justify; */
  font:700 70px/1 'Avenir', sans-serif;
}
.info h2 span{
  color: #9d0aca;
}

.parrafo p{
  text-align: justify;
  margin-top: 20px;
  font:300 30px/1 'Avenir', sans-serif;
}

.parrafo span{
  color: #9d0aca;
}


.icons{
  
  position: relative;
  z-index: 20;
  top:45px;
  left: 15px;
  display: flex;
  text-align: end;
  flex-direction: column
}

.icons svg, .icons p{
  color: #ececec;
  font-size: 20px;
  /* text-align: center; */
  margin-right: 10px;
}
