body {
    font-family: montserrat, arial, verdana;
    background: transparent;
    background-color: #eae0d5;   
   
}

.custom-container {/* Ajusta la cantidad de padding superior que desees */
    width: 40%;
    margin: 0 auto; /* Esto centrará el contenido horizontalmente */
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 75px;
    padding:15px;
    box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.6);
    background-color: rgb(175, 164, 152);
}
.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; /* Establecer el texto en negrilla */
  }
  
  