.nav {
    display: grid flex;
    flex-direction: row;
    top: 0;
    justify-content: space-between;
    width: auto;
  
    
   
}

  
  /* Estilo para el logotipo */
  .img {
    width: 100px;
    height: auto;
  }
  
 