.carrusel {
    width: 50%;
    height: 30%;
    background-color: #C19B76;
    justify-content: center;
    display: flex;
    /* padding: 0; */
}
.cajaCarrusel {
    /* padding: 10px; */
    grid-area: cabecera;
    background-color: rgba(173, 216, 230, 0.144);
}
.cajaCarrusel img {
    width: 100vw;
    margin: 0;
    /* background-size: contain; */
    /* height: 400px; */
}

.card{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.container-fluid{
    padding: 0 !important;
} 

