@import url('https://fonts.cdnfonts.com/css/avenir');

.carrusel {
    width: 50%;
    height: 30%;
    background-color: #C19B76;
    justify-content: center;
    display: flex;
    /* padding: 0; */
}

.cajaCarrusel {
    /* padding: 10px; */
    grid-area: cabecera;
    background-color: rgba(173, 216, 230, 0.144);
}
.cajaCarrusel img {
    width: 100vw;
    margin: 0;
    border-radius: 0 !important;
    /* background-size: contain; */
    height: 100vh;
}

.card{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/* .container-fluid{
    padding: 0 !important;
}  */

.search{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.containerText{
    display: flex;
	align-items: center;
	justify-content: center;
    font-family: 'Avenir', sans-serif; ;
	color: white;
}

.cajaCarrusel h1{
    font-family: 'Geologica', sans-serif;
    position: absolute;
    z-index: 10000;
    top: 35%;
    left: 50%;
    color: #e6e6e6;
    transform: translate(-50%,-50%);
    text-shadow: 2px 2px 2px black;
    font-size: 3em;
    /* font-weight: 400; */
    text-align: center;
    font-family: 'Avenir', sans-serif; ;
}

.cajaCarrusel h1 > span{
    position: relative;
    display: inline-block;
    color: #5ccff2;
    height: 3.5rem;
    font-family: 'Avenir', sans-serif; ;
    vertical-align: bottom;
    overflow: hidden;
}
.cajaCarrusel h1 > span > span{
    display: block;
    animation: animateWords 5s infinite ease;
    font-family: 'Avenir', sans-serif; 
}

@keyframes animateWords {
    
    0% {
		transform: translateY(0%);
	}
	
	25% {
		transform: translateY(-100%);
	}
	
	50% {
		transform: translateY(-200%);
	}
	
	75% {
		transform: translateY(-300%);
	}
	
	100% {
		transform: translateY(-400%);
	}
}

.containerFluid{
    background-image: url("../../assets/images/homebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}