.carrusel {
    width: 50%;
    height: 30%;
    background-color: #C19B76;
    justify-content: center;
    display: flex;
    
}
.cajaCarrusel {
    padding: 10px;
    grid-area: cabecera;
    background-color: rgba(173, 216, 230, 0.144);
}
.img {
    width: 600px;
    height: 400px;
}

.card{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

